parameters:
  level: 5
  paths:
    - admin
    - includes
    - public
    - src
    - tests
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  tmpDir: .phpstan/cache
  excludePaths:
    - libraries/action-scheduler
